ltp==4.2.13
matplotlib==3.6.3
numpy==1.24.1
pandas==1.5.3
PyYAML==6.0
requests
scikit_learn
scipy==1.10.0
seqeval==1.2.2
torch==1.13.1
torchvision==0.14.1
tqdm==4.64.1
transformers==4.30.0
tensorboard==2.11.2
flask==2.3.2
